:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*padding*/
  --padding : 10px;
}

* { 
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: var(--color-black);
  height: 100vh;
  margin:0;
}

button {
  border: none;
  background-color: var(--color-black);
  cursor: pointer;
}

img{
  margin : 0;
}

.outer{
  width: 50vw;
  display : flex;
  flex-direction: column;
  height: 70vh;
}

.logo{
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover{
  transform: scale(1.1);
}

.btn{
  display :flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
}

.btn button img{
  width: inherit;
  height: inherit;
}

.btn button{
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.btn button:hover{
  transform: scale(1.1);
}

.btn button:nth-of-type(4){
  background-color: var(--color-blue);
}

.btn button:nth-of-type(5){
  background-color: var(--color-yellow);
}
.btn button:nth-of-type(6){
  background-color: var(--color-pink);
}

.content{
  margin-top : var(--padding);
  overflow-y: scroll;
}

.content .item{
  background-color: white;
  display :flex;
  align-items: center;
  margin-bottom: var(--padding);
}

.content .item img{
  width: 40px;
  height: 40px;
  margin : var(--padding);
}

.item.invisible {
  display : none;
}